.planetarium-button {
    background-color: #77B0AA; /* Color azul definido */
    color: #E3FEF7; /* Texto blanco para contraste */
    border: #77B0AA;
    padding: 10px 20px;
    border-radius: none;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; /* Suave transición para el hover */
}

.planetarium-button:hover {
    background-color: #824D74; /* Un azul más oscuro para cuando se pasa el mouse */
}

/* Welcome Message Styling */
#welcome-message {
    background-color: none; /* Muted Purple */
    color: #E3FEF7; /* White text */
    padding: 20px;
    border-radius: 5px;
}

/* Link Styling */
a {
    color: #fa9066; /* Light Peach */
    text-decoration: none; /* Optional: removes underline */
}

a:hover {
    color: #fa9066; /* Darker shade when hovering over links */
}
  
.svg-frame {
  position: relative;
  width: 40px;
  height: 40px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.2);
}

.svg-frame svg {
  position: absolute;
  transition: .5s;
  z-index: calc(1 - (0.2 * var(--j)));
  transform-origin: center;
  width: 344px;
  height: 344px;
  fill: none;
}

.svg-frame:hover svg {
  transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
}

.svg-frame svg #center {
  transition: .5s;
  transform-origin: center;
}

.svg-frame:hover svg #center {
  transform: rotate(-30deg) translateX(45px) translateY(-3px);
}

#out2 {
  animation: rotate16 7s ease-in-out infinite alternate;
  transform-origin: center;
}

#out3 {
  animation: rotate16 3s ease-in-out infinite alternate;
  transform-origin: center;
  stroke: #003C43;
}

#inner3,
#inner1 {
  animation: rotate16 4s ease-in-out infinite alternate;
  transform-origin: center;
}

#center1 {
  fill: #003C43;
  animation: rotate16 2s ease-in-out infinite alternate;
  transform-origin: center;
}

@keyframes rotate16 {
  to {
    transform: rotate(360deg);
  }
}
.card {
  width: 190px;
  height: 254px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}

.card-inner {
  width: inherit;
  height: inherit;
  background: #77B0AA;
  box-shadow: 0 0 10px #0b756b;
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.04) rotate(1deg);
}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#0b756b, #0b756b);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}

/* Stars Background */
.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1; /* Keep the video under other content */
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw; /* Cover the viewport */
  height: 100vh; /* Adjust if you want it to cover more than 100% of the viewport */
  object-fit: cover; /* Preserve aspect ratio while filling the element's dimensions */
}

